*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(35, 41, 49);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
h2{
    color: white;
}

nav{
    padding: 1%;
    font-size: 20px;
    direction: rtl;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 20px;
    height: 50px;
    display: block;
    color: white;
    display: inline;
}

.lingua{
    width: 10%;
}

.APc{
    border-radius: 50%;
    width: 20%;
    border: white 5px solid;
}
.textoImg{
position: absolute;
top: 30vh;
left: 10vw;
color: white;
}

.contato{
    font-size: 150%;
    padding: 5% 7%;
}

ul{
    margin-right: 10vw;
    margin-top: 2vh;
}
li{
    margin-right: 2vw;
    display: inline;
    color: White;
    padding: 0.5%;
}

li:hover{
    background-color: rgb(35, 41, 49);
    border-radius: 10px;
}

.imgTop{
    width: 100vw;
    height: 100vh;
margin-top: 2%;
}

a{
    color: White;
}
a:link {
    text-decoration:none;
    }
a:visited {
    text-decoration:none;
}
a:hover {
    color:#2f89fc;
    text-decoration:underline;
}

.container{
position: relative;
}

footer{
    padding: 1%;
    font-size: 20px;
    direction: rtl;

    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
    display: block;
    color: white;
    display: inline;
}

.logo{
    z-index: 1001;
    width: 30px;
}

.up{
    position: fixed;
    right: 2%;
    bottom: 7%;
    font-size: 50px;
}
.conteudo{
width: 90vw;
background-color: white;
border-radius: 3%;
}
.contatoEmail{
    border: #2f89fc 2px solid;
    width: 30%;
    background-color: #2f89fc;
    border-radius: 3%;
}
input{
    display: block;
}
button{
    display: block;
}